/* custom css */
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px
}
#main, header{padding: 20px}
.images{
    width: 200px;
    max-height: 200px
}
.enemy{
    display: block; max-width: 90%;
}

.buttonRestart{
    color: #fff;
    height: 50px;
    background: #3498db;
    border-bottom: 5px solid #2980b9;
    display:block;
    padding: 0 30px;
    border-radius:5px;
    font-weight: bold;
    margin: 20px;
    font-size: 20px
}
.buttonRestart:hover{ background: #2980b9;
}